
  <div id="wall">
    <h1><%= @user.username.upcase %>'s Wall</h1>
    <h2>
    <%= link_to "New post", new_post_path(@user.id) %>
    </h2>
    <div class="wrapper">
      <div class="panel panel-default">
        <% @posts.each do |post| %>
          <div class="panel-body">
            <h4><%= link_to post.user.username.upcase, user_wall_url(post.user.id) %>
            <% if post.wall && post.wall.id != 0 && post.wall.id != post.user.id %>
              => <%= link_to post.wall.username.upcase, user_wall_url(post.wall.id) %>
            <% end %>
            </h4>
            <hr>
            <p>
            <h2><%= post.message %></h2>
            <p>
            <div id="time">
              <%= post.updated_at %>
            </div>
            <% if current_user.id == post.user_id %>
              <div id="edit_delete">
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
            <div id="likes">
            Likes: <%= post.likes.size %>
            </div>
            <% if post.comments %>
              <% post.comments.each do |c| %>
                <hr>
                <div id="comment">
                  <%= c.user.username.upcase %>
                  <%= c.content %>
                  <%if c.user == current_user %>
                    <%= link_to "Delete", post_comment_path(post, c), method: :delete %>
                  <%end%>
                </div>
              <% end %>
            <% end %>
            <hr>
            <div class="input-group">
              <div class="form-control">
                <%= form_for [post, post.comments.new ] do |f| %>
                  <%= f.text_field :content, placeholder: "Say something..." %>
                  <%= f.submit "Moo", class: "btn btn-default" %>
                <% end %>
              </div>
              <div class="input-group-btn">
                <button class="btn btn-default">
                  <%= link_to 'Like', post_add_like_path(post), method: :post %>
                </button>
              </div>
            </div>
            <br/>
          </div>
        <% end %>
      </div>
    </div>
  </div>
