<div id="posts">
  <div class="wrapper">
    <div class="panel panel-default">
      <% @posts.each do |post| %>
        <div class="panel-body">
          <h4><%= link_to post.user.username.upcase, user_wall_url(post.user.id) %></h4>
          <hr>
          <p>
          <h2><%= post.message %></h2>
          <p>
          <div id="time">
            <%= post.updated_at %>
          </div>
          <% if current_user.id == post.user_id %>
            <div id="edit_delete">
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
          <% if post.comments %>
            <% post.comments.each do |c| %>
              <hr>
              <div id="comment">
                <%= c.user.username.upcase %>
                <%= c.content %>
                <%if c.user == current_user %>
                  <%= link_to "Delete", post_comment_path(post, c), method: :delete %>
                <%end%>
              </div>
            <% end %>
          <% end %>
          <hr>
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default">+ like</button>
            </div>
            <div class="form-control">
              <%= form_for [post, post.comments.new ] do |f| %>
                <%= f.text_field :content, placeholder: "Say something..." %>
              <% end %>
            </div>
          </div>
          <br/>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "New post", new_post_path %>

<!-- <div class="wrapper">
<div class="panel panel-default">
  <div class="panel-body">
    <h4>username</h4>
     <hr>
      <p>
        Message
      </p>
    <hr>
    <form>
      <div class="input-group">
        <div class="input-group-btn">
          <button class="btn btn-default">+ like</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
        </div>
        <input type="text" class="form-control" placeholder="Add a comment..">
      </div>
    </form>
  </div>
</div>


</div> -->
