<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p><%= post.updated_at %></p>
  <p>Likes: <%= post.likes.size %> ||
  <%= link_to 'Like', post_add_like_path(post), method: :post %></p>
  <br>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
