<div id="newpost">
  <% @wall = (id = /\d+$/.match(request.original_url).to_a[0]) ? id : 0 %>
  <div class="form-control">
  <%= form_for @post do |form| %>
    <%= form.hidden_field :wall_id, :value => @wall %>
    <%= form.label :message %>
    <%= form.text_field :message %>

    <%= form.submit "Submit" %>
  <% end %>
  </div>
</div>
